---
import Layout from '../layouts/Layout.astro';
import {Image} from 'astro:assets';
import logo from '../images/logo.png';
import '../styles/global.css';
import Speakers from "../components/Speakers.astro";
import About from "../components/About.astro";
import Section from "../layouts/Section.astro";
import Schedule from "../components/Schedule.astro";
import heart from "../images/heart-3d-emoji.png";
import Emoji from "../components/Emoji.astro";
import Navigation from "../components/Navigation.astro";
import Button from "../components/Button.astro";
import Sponsors from "../components/Sponsors.astro";
import Footer from "../components/Footer.astro";
import {ticketsUrl} from "../scripts/global";
import Form from "../components/Form.astro";
---

<Layout bodyId="home" title="TofuConf - Madrid 2024">
    <header>
        <Navigation/>
        <Section background="linear-gradient(to bottom, var(--base-800) 80px, var(--base-1000) 100%)"
                 textColor="var(--base-000)" contentPadding="var(--space-l)">
            <h1 class="h100-regular space-m-top space-m-bottom">
                <Image src={logo} class="logo" alt="TofuConf logo"/>
                TofuConf 2024
            </h1>
            <h2 class="h100-regular space-m-bottom text-base-200">El evento <span class="text-brand-primary-100">#gastrotech</span>
                donde <span class="text-brand-secondary-300">nadie</span> muere de hambre
                <Emoji src={heart}/>
            </h2>
            <p class="h300-regular">Sábado, 14 de septiembre de 2024</p>
            <p class="h300-regular space-m-bottom">10h a 19h, <a href="https://maps.app.goo.gl/UDTHc3r4FsVtWC9L9"
                                                                 target="_blank">Talent Garden - Madrid</a></p>
            <Button text="Consigue tu entrada" link={ticketsUrl} newTab={true} large={true}/>
        </Section>

    </header>
    <main>
        <About/>
        <Speakers/>
        <Sponsors/>
        <Schedule/>
        <Footer/>
    </main>
</Layout>

<style>
    header .logo {
        width: 8rem;
        height: auto;
        margin-right: 1rem;
    }

    h1 {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
</style>