---
import {Image} from 'astro:assets';
import type {ImageMetadata} from "astro";

interface Props {
    src: ImageMetadata;
}

const {src} = Astro.props;
---
<span class="emoji-3d"><Image src={src} alt=""/></span>

<style>
    .emoji-3d {
        display: inline-block;
        position: relative;
        width: 128px;
        height: 70px;
    }

    .emoji-3d img {
        position: absolute;
        width: 128px;
        height: 128px;
        top: -25px;
        left: 0;
    }

    @media (max-width: 767px) {
        .emoji-3d {
            width: 64px;
            height: 40px;
        }

        .emoji-3d img {
            width: 64px;
            height: 64px;
            top: -10px;
        }
    }

    @media (min-width: 768px) and (max-width: 1279px) {
        .emoji-3d {
            width: 96px;
            height: 56px;
        }

        .emoji-3d img {
            width: 96px;
            height: 96px;
            top: -20px;
        }
    }
</style>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const contenedoresImagen = document.querySelectorAll('.emoji-3d');

        const setImagenTransform = () => {
            const scrollTop = window.scrollY || document.documentElement.scrollTop;

            contenedoresImagen.forEach(contenedorImagen => {
                const imagen = contenedorImagen.querySelector('img');
                if (imagen) {
                    const position = contenedorImagen.getBoundingClientRect().top + scrollTop;
                    const desplazamiento = (position - scrollTop) * 0.08 - 40;
                    imagen.style.transform = `translateY(${desplazamiento}px)`;
                }
            });
        };

        // Set the initial transform when the page loads
        setImagenTransform();

        // Adjust the transform when the window is resized
        window.addEventListener('resize', setImagenTransform);

        // Adjust the transform when the user scrolls
        window.addEventListener('scroll', setImagenTransform);
    });
</script>