---
import Section from "../layouts/Section.astro";
import Button from "./Button.astro";
import {Image} from "astro:assets";
import logo from "../images/logo.png";
import devexpertLogo from "../images/devexpert-logo.png";
import {Icon} from "astro-icon";
---

<Section background="var(--base-800)" textColor="var(--base-000)" contentPadding="var(--space-m)">
    <div class="column">
        <Button text="Vente al evento" link="https://google.com" newTab={true} large={true}/>
        <div class="logo-container space-s-top space-s-bottom">
            <Image src={logo} class="logo" alt="TofuConf logo"/>
            <p class="b100-regular">TofuConf 2024</p>
            <p class="b200-regular text-base-600">organizada por</p>
            <Image src={devexpertLogo} class="logo devexpert-logo" alt="DevExpert"/>
        </div>
        <div class="social">
            <a href="https://instagram.com/devexpert.io" target="_blank"><Icon class="social-icon" name="mdi:instagram" alt="Instagram logo"/></a>
            <a href="https://twitter.com/devexpert_io" target="_blank"><Icon class="social-icon" name="mdi:twitter" alt="Instagram logo"/></a>
            <a href="https://youtube.com/@devexpert_io" target="_blank"><Icon class="social-icon" name="mdi:youtube" alt="Instagram logo"/></a>
        </div>
    </div>
</Section>

<style>
    .column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .logo-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--space-xs);
    }
    .logo {
        width: auto;
        height: 3rem;
    }
    .devexpert-logo {
        filter: invert(0.9);
        width: auto;
        height: 4rem;
    }
    .social {
        display: flex;
        flex-direction: row;
        gap: var(--space-s);
    }

    .social-icon {
        width: 2rem;
        color: var(--base-000);
    }
</style>
