---
import Section from "../layouts/Section.astro";
import heart from "../images/heart-3d-emoji.png";
import { Image } from "astro:assets";
import devExpertLogo from "../images/devexpert-logo.png";
import nextDigitalLogo from "../images/sponsor-next-digital.png";
import Emoji from "./Emoji.astro";
import proxyhandsLogo from "../images/sponsor-proxyhands.png";
import Button from "./Button.astro";
---

<Section id="sponsors" background="var(--base-100)">
    <h2 class="column h200-regular space-s-bottom text-brand-primary-500">¡El tofu corre de su cuenta!
        <Emoji src={heart}/>
    </h2>
    <p class="b100-regular space-l-bottom max-width-m">Gracias a la organización y los sponsors, hemos podido organizar
        este evento y traerte <span class="text-brand-secondary-500">las mejores charlas</span>.
        Y, por supuesto, el mejor tofu.
    </p>
    <!--<h3 class="h300-regular text-brand-tertiary-500">Platinum</h3>
    <div class="sponsors">
        <a href="https://devexpert.io" target="_blank"><Image class="image platinum" src={devExpertLogo} alt="Logo DevExpert"/></a>
    </div>-->
    <h3 class="h300-regular text-brand-tertiary-500 space-s-bottom">Gold</h3>
    <div class="sponsors">
        <a href="https://devexpert.io" target="_blank"><Image class="image gold" src={devExpertLogo} alt="Logo DevExpert"/></a>
        <a href="https://www.nextdigital.es/" target="_blank"><Image class="image gold" src={nextDigitalLogo} alt="Logo Next Digital"/></a>
    </div>
    <h3 class="h300-regular text-brand-tertiary-500">Silver</h3>
    <div class="sponsors space-m-bottom">
        <a href="https://proxyhands.com" target="_blank"><Image class="image silver" src={proxyhandsLogo} alt="Logo ProxyHands"/></a>
    </div>
    <div>
        <p class="b100-regular space-s-bottom">Si compartes nuestros valores, ayúdanos a organizar este evento con
            tu patrocinio</p>
        <Button text="¡Contacta para saber más!" link="mailto:contacto@devexpert.io"/>
    </div>
</Section>

<style>
    .sponsors {
        display: flex;
        flex-wrap: wrap;
        gap: var(--space-l);
    }

    .platinum {
        flex: 1 1 calc(50% - var(--space-m));
        max-width: 500px;
        height: auto;
        object-fit: contain;
    }

    .gold {
        flex: 1 1 calc(33.333% - var(--space-m));
        max-width: 350px;
        height: auto;
        object-fit: contain;
    }

    .silver {
        flex: 1 1 calc(25% - var(--space-xl));
        max-width: 250px;
        height: auto;
        object-fit: contain;
    }

    @media (max-width: 768px) {
        .platinum, .gold, .silver {
            flex: 1 1 100%;
            max-width: 100%;
        }

        .platinum {
            max-width: 100%;
        }

        .gold {
            max-width: 100%;
        }

        .silver {
            max-width: 100%;
        }
    }
</style>